<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}">

    <title>Ingredients</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar('Ingredients')}"></nav>
    <div class="container">
        <h1>Ingredients</h1>
        <hr>
        <div class="row">
            <div class="col-4">
                <form id="ingredient-form" th:action="@{/ingredients/create}" method="post"
                    th:object="${ingredientObj}">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" id="ingredient" th:field="*{ingredient}">
                        <button class="btn btn-primary" type="submit">Add</button>
                        <ul th:if="${#fields.hasErrors('*')}">
                            <li th:each="err : ${#fields.hasErrors('*')}" th:text="${err}">Input Incorrect</li>
                        </ul>
                    </div>
                </form>
                <ul class="list-group" th:if="${list.size() > 0}">
                    <li class="list-group-item d-flex justify-content-between" th:each="item : ${list}">
                        <span th:text="${item.pizzas.size()}"></span>
                        <span th:text="${item.ingredient}"></span>
                        <form th:action="@{|/ingredients/delete/${item.id}|}" method="post">
                            <button class="btn btn-danger" type="submit" id="deleteButton" onclick="return confirm('Are you sure?')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </form>
                    </li>
                </ul>
                <div class="alert alert-primary" role="alert" th:unless="${list.size() > 0}">There're no Ingredients
                    available</div>
            </div>
        </div>
    </div>
</body>

</html>